/* Navigation */
button.contact {
    transition: all 250ms cubic-bezier(.8,.87,0,.95);
    background: linear-gradient(to bottom, #700007 0%, #E40000 50%, #700007 100%);
    background-size: auto 200%;
}
button.contact:hover {
    background-position: bottom right;
}
/* Portrait */
section.portrait p.description {
    opacity: 0;
    transition: all 150ms ease-in-out;
}
section.portrait p.description.show {
    opacity: 1;
}

h4.direction, h4.direction-mobile {
    opacity: 0;
}
:is(h4, h4).direction.slided {
    opacity: 1;
    animation: slide-from-up .5s cubic-bezier(.3,.71,.18,1);
    -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
    -moz-animation-fill-mode: forwards;    /* FF 5+ */
    -o-animation-fill-mode: forwards;      /* Not implemented yet */
    -ms-animation-fill-mode: forwards;     /* IE 10+ */
    animation-fill-mode: forwards;   
}
@keyframes slide-from-up {
    from {
        transform: translateY(-120%);
    }to {
        transform: translateY(calc(0% + 120px));
    }
}
h4.direction-mobile.slided {
    opacity: 1;
    animation: slide-from-left .35s cubic-bezier(.3,.71,.18,1) forwards;
}

@keyframes slide-from-left {
    from {
        transform: translateX(-60%);
    }to {
        transform: translateY(0%);
    }
} 
img.prisma {
    animation: float 7s cubic-bezier(.26,.06, 0, .21) infinite;
}
@media (min-width: 768px) {
    img.neo-background {
        opacity: 0;
    }
    img.neo-background.slide-up {
        animation: slow-slide-from-bottom 600ms ease-out forwards;
    }
    @keyframes slow-slide-from-bottom {
        from {
            opacity: 0;
            transform: translateY(10%);
        } to {
            opacity: 1;
            transform: translateY(0%);
        }
    }
    img.prisma {
        opacity: 0;
    }
    img.prisma.show {
        opacity: 1;
        animation: slide-from-bottom 900ms ease-in-out;
    }
    @keyframes slide-from-bottom {
        from {
            opacity: 0;
            transform: translateY(50%);
        }
        50% {
            opacity: 1;
        }
        to {
            transform: translateY(4%);
        }
    }
    img.prisma.float {
        opacity: 1;
        animation: float 7s cubic-bezier(.26,.06, 0, .21) infinite;
    }
}
/* float or idle */
@keyframes float {
    0% {
        transform: translateY(4%);
    }
    50% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(4%);
    }
}
section {
    scroll-snap-align: start;
}
.section-title {
    @apply font-bold text-xl leading-9 font-epilogue;
}

@media (min-width: 992px) {
    .section-title {
        font-size: 3rem;
    }
}