---
import { Icon } from 'astro-icon';
---
<footer class="flex flex-col bg-black w-full min-h-[20vh] border-t border-black-100">
    <div class="flex max-md:flex-col max-md:items-start justify-between w-full flex-wrap px-8 lg:px-20 py-12 border-b border-black-100 max-md:space-y-10">
        <div>
            <h1 class="text-white font-bold font-epilogue text-xl lg:text-[1.85rem] mb-4">
                Contact Information
            </h1>
            <div class="overflow-hidden">
                <h3 class="text-[1rem] font-epilogue text-white-300 mb-1">orbe@scarletmarketinganalytics.com</h3>
                <h3 class="text-[1rem] font-epilogue text-white-300 mb-1">+1 (908) 375-6851</h3>
            </div>
        </div>
        <div>
            <h1 class="text-white font-bold font-epilogue text-xl lg:text-[1.85rem] mb-4">
                Navigate our site
            </h1>
            <div class="flex justify-between flex-wrap mt-3 max-w-[230px]">
                <h3 class="text-[1.2rem] font-epilogue text-white-300 cursor-pointer hover:text-white mt-1">About Us</h3>
                <h3 class="text-[1.2rem] font-epilogue text-white-300 cursor-pointer hover:text-white mt-1">Latest Work</h3>
                <h3 class="text-[1.2rem] font-epilogue text-white-300 cursor-pointer hover:text-white mt-1">Services</h3>
                <h3 class="text-[1.2rem] font-epilogue text-white-300 cursor-pointer hover:text-white mt-1">Testmonials</h3>
            </div>
        </div>
        <div>
            <h1 class="text-white font-bold font-epilogue text-xl lg:text-[1.85rem] mb-4">
                Follow us
            </h1>
            <div class="flex justify-between flex-wrap mt-3">
                <Icon name="twitter" alt="twitter" class="twitter w-[23px] me-3" />
                <Icon name="instagram" alt="instagram" class="instagram w-[25px] me-3" />
                <Icon name="linkedin" alt="linkedin" class="linked-in w-[25px] me-3" />
                <Icon name="facebook" alt="twitter" class="facebook w-[25px] me-3" />
            </div>
        </div>
    </div>
    <div class="flex max-md:flex-col max-md:space-y-4 justify-between px-8 lg:px-20 py-6">
        <h3 class="text-white-300">
            © 2023 Scarlet IO, All rights reserved
        </h3>
        <h3 class="flex items-center md:justify-between max-md:mx-auto max-w-[320px] text-red-400 font-rubik text-xl">
            Scarlet
            <Icon name="scarlet-logo" class="ms-4 w-[40px] pb-2"/>
        </h3>
    </div>
</footer>