---
    const latest_work = [
        {
            name: 'Artem - Digital Marketing campaign',
            description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.',
            icon: 'image-1'
        },
        {
            name: 'Mayhem - Search Engine Optimization',
            description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.',
            icon: 'image-2'
        },
        {   
            class_name: "md:max-w-[300px]",
            name: 'Basic - Pay Per Click (PPC)',
            description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.',
            icon: 'image-3'
        }
    ]
---
<section class="min-h-[75vh] text-white bg-black px-8 lg:px-44 py-[6rem]" id="latest-work">
    <h1 class="font-epilogue font-bold text-3xl lg:text-[3rem] lg:leading-[3.6rem] mb-10">
        Our latest work
    </h1>
    <div class="flex flex-wrap my-2">
        {
            latest_work.map(({ class_name, name, description, icon }, index) => {
                return  (
                    <div class="flex flex-col w-full max-w-[340px] lg:max-w-[28vw] me-8 mb-8">
                        <img src={`/img/latest-work/${icon}.png`} alt={ icon } class="rounded-xl mb-5 max-w-none" />
                        <h2 class={`flex items-center font-bold text-white text-3xl mb-4 min-h-[72px] ${class_name}`}>{ name }</h2>
                        <p class="text-white-200 text-xl">{ description }</p>
                    </div>
                )
            })
        }
    </div>
</section>