---
import Layout from '../layouts/Layout.astro';
import Portrait from "../components/sections/Portrait.astro";
import Services from "../components/sections/Services.astro";
import WhyChoose from "../components/sections/WhyChoose.astro";
import OurMission from "../components/sections/OurMission.astro";
import Testimonials from '../components/sections/Testimonials.astro';
import Contact from '../components/sections/Contact.astro';
import Footer from '../components/sections/Footer.astro';
import '../libs.ts';

---
<script>
</script>
<Layout title="Scarlet">
	<main class="text-white font-epilogue bg-black">
		<Portrait />
		<Services />
		<WhyChoose />
		<OurMission />
		<Testimonials />
		<Contact />
		<Footer />
	</main>
</Layout>

<style>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
</style>
