---

---
<section class="min-h-[75vh] px-8 lg:px-44 py-[6rem] bg-black">
    
    <h1 class="section-title mb-5">
        Contact Us
    </h1>
    <div class="flex flex-wrap items-center justify-between">
        <form class="max-w-[540px] w-full mb-8 me-10">
            <div class="flex flex-col">
                <input type="text" placeholder="info@email.com"
                class=" bg-black-400 text-xl rounded mb-2 p-3 placeholder:text-white-300 focus-within:outline-none">
                <span class="text-white-200">
                    Please enter a valid email.
                </span>
            </div>
            <div class="flex flex-col mt-6">
                <textarea placeholder="Tell us what you need" 
                class="bg-black-400 text-xl rounded mb-2 p-3 placeholder:text-white-300 focus-within:outline-none resize-none min-h-[220px]"/>
            </div>
            <button class="mt-6 flex items-center justify-center font-bold uppercase text-2xl text-white bg-gradient-to-r to-red-400 from-red-100 
            w-full py-3 tracking-[8px] rounded">
                Send Email
            </button>
        </form>
        <div class="flex flex-wrap items-center">
            <div class="relative w-full max-w-[520px] h-[520px] z-20">
                <img class="absolute top-0 lg:right-[-120px] w-full h-full" src="/img/contact/globe-picture.svg" alt="globe-graphic" />
            </div>
            <div class="relative w-full max-w-[420px] z-30">
                <h2 class="text-[2rem] text-white font-epilogue">
                    Get in Touch
                </h2>
                <p class="text-white-200 font-rubik text-xl">
                    Reach out to our team of experts to discuss your needs, explore solutions, and take the first step toward enhancing your brand's presence.
                </p>
            </div>
        </div>
    </div>
</section>