---

const menu_items = ['Services', 'About Us', 'Latest Work', 'Testimonials'];

---
<header class="bg-black sticky top-0 left-0 font-epilogue z-50">
    <nav class="flex justify-between items-center px-4 lg:px-12 py-6 text-white">
        <img src="/img/nav-bar-logo.svg" class="w-[25px] lg:w-[40px] object-contain" />
        <ul class="hidden lg:flex justify-center unstyled">
            { menu_items.map((title) => (
                <li class="relative font-epilogue mr-12 last:mr-0 after:content-[''] after:bg-red after:absolute 
                after:bottom-[-2px] after:left-0 after:w-[0] after:h-[2px] after:transition-all origin-center
                hover:after:w-full hover:cursor-pointer" id={title.replace(/\s+/g, "-").toLowerCase()}>
                    { title }
                </li>
            )) }
        </ul>
        <button class="hidden lg:flex contact font-rubik h-max px-6 py-3 rounded-md">
            Contact Us
        </button>
        <button id="toggle-navigation" type="button" class="flex lg:hidden">
            <img src="/img/menu.svg" class="cursor-pointer w-[35px] object-contain" />
        </button>
    </nav>
    <div id="mobile-menu" class="fixed hidden justify-end w-screen h-screen z-40">
        <div id="mask" class="absolute top-0 left-0 w-full h-full bg-[#090909d0]" />
        <ul class="mobile-menu flex flex-col z-50 min-w-[30%] w-[50vw] bg-black border-t border-t-black-100">
            { [...menu_items, 'Contact Us'].map((label) => 
            (<li class="cursor-pointer capitalize text-white-200 p-6 border-b border-b-black-100 hover:border-b-red-100 hover:text-white transition-all duration-100">{label}</li>)) }
        </ul>
    </div>
</header>
<script>
    let nav = false;
    function toggleNav() {
        nav = !nav;
        const mobile_menu = document.querySelector("#mobile-menu");
        const menu = mobile_menu.querySelector("ul");

        mobile_menu.classList[!nav ? 'remove':'add']('flex');
        menu.classList.toggle('slide-in');
        mobile_menu.classList[ nav ? 'remove':'add']('hidden');

        document.body.classList.toggle('overflow-y-hidden');
    }
    const toggle_navigation = document.querySelector("#toggle-navigation"); //toggle button 
    const mask = document.querySelector("#mask"); //opacity mask

    toggle_navigation.addEventListener("click", toggleNav); // menu button listener
    mask.addEventListener("click", toggleNav); // mask-listener
    
    // Navigation bar
    const navbar: string[] = [
        "Portrait",
        "Services",
        "About Us",
        "Latest Work",
        "Testimonials",
        "Contact Us",
        "Footer"
    ];
    let last_section = ''; 
    const setActiveSection = (active_section) => { // setting the navbar active styles
        const navbar_options = ['services', 'about-us', 'latest-work', 'testimonials'];
        const which_option =  ['footer', 'portrait'].indexOf(active_section);
        // in_new_section ? console.log('%c new section', 'color: green;'):console.log('%c same section', 'color: yellow;');

        const remove_last = () => {
            if (  last_section !== '' ) { //if the last section is not on the navbar delete the active
                if (navbar_options.indexOf(last_section) !== -1) {
                    const last_li = document.querySelector(`li#${last_section}`);
                    last_li.classList.remove('active');
                } if (last_section === 'portrait') {
                    console.log('bright!');
                }
            }
        }

        if ( navbar_options.indexOf(active_section) >= 0 ) { // we are on a navbar-section
            const in_new_section = active_section !== last_section; 
            if (in_new_section) {
                remove_last();
                const li = document.querySelector(`li#${active_section}`);
                li.classList.add('active');
                console.log('not bright!');
            }
        } else if(which_option >= 0 ) { //were not on a navbar-section
            remove_last()
        }
        last_section = active_section;
    }
    
    const handle_scroll = () => {
        const scrollPosition = window.scrollY + window.innerHeight / 2;
        const sections = document.querySelectorAll("section");

        for (let i = 0; i < sections.length; i++) {

            const section = sections[i];
            const offsetTop = section.offsetTop;
            const offsetBottom = offsetTop + section.offsetHeight;

            if ( scrollPosition >= offsetTop && scrollPosition < offsetBottom ) {
                    setActiveSection(navbar[i].replace(/\s+/g, "-").toLowerCase());
                    // const section_DOM = document.querySelector(`#${active_section}`);
                    // section_DOM.scrollIntoView({ behavior: "smooth" });
                    // console.log(`active section:\n ${navbar[i].replace(/\s+/g, "-").toLowerCase()}`);
                    break;
                }
            }
    };
    handle_scroll();
    window.addEventListener("scroll", handle_scroll);
</script>
<style>
    .slide-in {
        animation: slide-in 150ms ease-in-out;
    }

    @keyframes slide-in {
        from {
            opacity: 0;
            transform: translateX(50%);
        }
        50% {
            opacity: 1;
        }
        to {
            transform: translateX(4%);
        }
    }
    li.active {
        @apply after:w-full;
    }
</style>